<div class="container">
  <h1>Registration Form</h1>
  <form [formGroup]="form" (ngSubmit)="register()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" formControlName="username" [(ngModel)]="model.username" required>
      <div *ngIf="f.username.touched && f.username.dirty">
        <div class="alert alert-danger" *ngIf="f.username.errors?.required">Form is required</div>
        <div class="alert alert-danger" *ngIf="f.username.errors?.pattern">Username must contain only Alphanumerical Chars</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" formControlName="password" [(ngModel)]="model.password" required>
      <div *ngIf="f.password.touched && f.password.dirty">
        <div class="alert alert-danger" *ngIf="f.password.errors?.required">Password is Required</div>
        <div class="alert alert-danger" *ngIf="f.password.errors?.mustMatch">Password Must Match</div>
        <div class="alert alert-danger" *ngIf="f.password.errors?.pattern">Password must contain only Alphanumerical Chars</div>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" class="form-control" formControlName="confirmPassword" required>
      <div *ngIf="f.confirmPassword.touched && f.confirmPassword.dirty">
        <div class="alert alert-danger" *ngIf="f.confirmPassword.errors?.required">confirm Password is required</div>
        <div class="alert alert-danger" *ngIf="f.confirmPassword.errors?.pattern">confirm password must contain only Alphanumerical
          Chars
        </div>
      </div>
    </div>
x
    <div class="form-group">
      <label for="firstName">Avatar Url</label>
      <input type="text" class="form-control" formControlName="avatarUrl" [(ngModel)]="model.avatarUrl" required>
      <div *ngIf="f.avatarUrl.touched && f.avatarUrl.dirty">
        <div class="alert alert-danger" *ngIf="f.avatarUrl.errors?.required">AvatarUrl is required</div>
      </div>
    </div>


    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" class="form-control" formControlName="email" [(ngModel)]="model.email" required>
      <div *ngIf="f.email.touched && f.email.dirty">
        <div class="alert alert-danger" *ngIf="f.email.errors?.required">Email is required</div>
        <div class="alert alert-danger" *ngIf="f.email.errors?.email">Email pattern is wrong</div>
      </div>
    </div>

    <div class="form-group">
      <label for="age">Age</label>
      <input type="text" class="form-control" formControlName="age" [(ngModel)]="model.age">
      <div *ngIf="f.age.touched && f.age.dirty">
        <div class="alert alert-danger" *ngIf="f.age.errors?.required">Age is required</div>
      </div>
    </div>

    <button type="submit" class="cartube-button">Register</button>
  </form>

  <div *ngIf="loginFailed">
    {{errMessage}}
  </div>
</div>