<img id="avatar" src="{{userData.avatarUrl}}" alt="avatar">
<p>Username: <span>{{userData.username}}</span></p>
<p><span>Age:</span>{{userData.age}}&nbsp;&nbsp;&nbsp;<span>Email:</span>{{userData.email}}</p>

<div *ngIf="authService.isAdmin()" class="container">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#destoryModal">Destroy User</button>

    <div class="modal fade" id="destoryModal" tabindex="-1" role="dialog" aria-labelledby="destoryModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="destoryModalLabel">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This will destroy the user permanently!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" (click)="destroy()" data-dismiss="modal">DESTROY USER</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h3 style="text-align:center">User Listings</h3>

    <div id="listings">
        <div *ngFor="let car of carsData" class="listing">
            <hr/>
            <p id="brand-title">{{car.brand}}{{car.model}}</p>
            <p><span>Year: </span>{{car.year}}<span>&nbsp;&nbsp;&nbsp;Fuel:</span> {{car.fuelType}}</p>
            <p id="price"><span>Price:</span> {{car.price}}$</p>
            <img src="{{car.imageUrl}}" alt="carImage">

            <p id="description">{{car.description}}</p>
            <div *ngIf="car._acl.creator === creatorId">
                <button type="submit" class="cartube-button" (click)="deleteListing(car._id)">Delete</button>
                <button type="submit" class="cartube-button" (click)="editListing(car._id)">Edit</button>
            </div>
        </div>
    </div>
</div>